body {
	background: #0b1523;
	background: linear-gradient(214deg, #0b1523,  #0b1523, #000000);
	text-align: center;
	margin: auto;
	color: #ffffff;
	font-family: sans-serif;
}

#fullpage {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

h1 {
	letter-spacing: 0.125rem;
	margin-bottom: 6.4rem;
	font-size: 2.4vh;
}

h2 {
	letter-spacing: 0.125rem;
	margin-bottom: 2.5rem;
}

a {
	color: #8b95a3;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #5b6573;
}
	

img {
	padding: 1.25rem;
}

#logo {
	max-width: 853px;
	width: 45vw;
}

.content {
	margin: auto;
	width: 640px;
	text-align: justify;
}